DS_door flow.json
[{"id":"c25932c9.b0a0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c36dcc56.1aead","type":"ui_button","z":"c25932c9.b0a0c","name":"Unlock","group":"eda5d1eb.4906b","order":3,"width":"2","height":"1","passthru":false,"label":"UNLOCK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":210,"y":260,"wires":[["53469472.0960bc","6f9541ea.2bdf5"]]},{"id":"53469472.0960bc","type":"mqtt out","z":"c25932c9.b0a0c","name":"MCU","topic":"cc/door","qos":"0","retain":"","broker":"a1147bd.50e2888","x":500,"y":340,"wires":[]},{"id":"6f9541ea.2bdf5","type":"function","z":"c25932c9.b0a0c","name":"Trigger","func":"var msg1={};\nnode.send(msg);\nsetTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    msg1['payload'] = '0';\n    node.send(msg1);\n}, 2500);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});\n// msg1['payload'] = '0';\n// node.send(msg1);\n","outputs":1,"noerr":0,"x":360,"y":460,"wires":[["c6bf9547.0f01e8","fa51428b.838a5"]]},{"id":"c6bf9547.0f01e8","type":"ui_led","z":"c25932c9.b0a0c","group":"eda5d1eb.4906b","order":2,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"cyan","value":"1","valueType":"str"}],"name":"","x":560,"y":460,"wires":[]},{"id":"fa51428b.838a5","type":"debug","z":"c25932c9.b0a0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":540,"wires":[]},{"id":"eda5d1eb.4906b","type":"ui_group","z":"","name":"                          IoT Access Gateway","tab":"108fc8f0.5bbc97","disp":true,"width":"7","collapse":false},{"id":"a1147bd.50e2888","type":"mqtt-broker","z":"","name":"Mqtt","broker":"localhost ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"108fc8f0.5bbc97","type":"ui_tab","z":"","name":"REMOTE UNLOCK","icon":"dashboard","order":1,"disabled":false,"hidden":false}]